@font-face {
    font-family: 'Roboto-Regular';
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(./assets/fonts/Roboto-Bold.ttf);
}

:root {    
 --primary-red: hsl(4, 100%, 67%);
 --blue-800: hsl(234, 29%, 20%);
 --blue-700: hsl(235, 18%, 26%);
 --grey: hsl(0, 0%,58%);
 --white: hsl(0, 0%, 100%);

 --font-size-main: 16px;
}

html {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-main);
}




/* COMPOSITION */

body {
    display: flex;
    flex-direction: column;
    min-width: 320px;    
    place-items: center;    
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    background-color: var(--LightGrayishBlue);
}

main {
    display: flex;
    width: 320px;
    height: auto;
    margin: 0 auto;     
}

.card1 {
    display: none;
    width: 320px;    
    height: 800px;
}

.img-wrapper {
    width: 320px;
}

#mobile-img {
    width: 320px;
    object-fit: cover;
}

#tablet-img, #desktop-img {
    display: none;
}

.card1-content {
    margin: auto 12px;
    line-height: 1.5;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 400; 
}

p {
    margin: 0 auto;
}

ul {
    list-style-image: url(./assets/images/icon-list.svg);  
    margin-left: -10px;
    margin-top: 30px;           
}

li {
   padding-left: 6px;
   margin-bottom: 10px;        
}

form {
    margin-top: 33px;
}

label {
    font-size: 0.75rem;
    font-weight: 700;    
}

input {
    height: 55px;
    width: 92%;
    border: 1px solid var(--grey);
    border-radius: 7px;
    margin-top: 5px;
    padding-left: 20px;
    font-size: 1rem;    
}

button {
    margin-top: 25px;
    width: 100%;
    height: 55px;
    border: 1px solid var(--blue-700);
    border-radius: 7px;
    font-family: 'Roboto-Bold', sans-serif;   
    text-align: center;
    font-size: 0.95rem;    
    letter-spacing: 0.5px;
    color: var(--white);
    background-color: var(--blue-800);
}


.card2 {
    display: block;
    min-width: 320px;    
    height: auto;    
}

.card2-content {    
    margin: 25px 20px auto 20px;
}

.card2-content h1 {
    line-height: 1;
}

.card2-content p {
    line-height: 1.5;
}

.button2 {
    margin-top: 75px;
    margin-bottom: 25px;
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: var(--white);
}


/* UTILITIES */

.bullets {
    display: inline-block;
    vertical-align: -20px;    
}

.last-bullet {
    display: inline-block;
    vertical-align: 5px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* BLOCKS */



/* EXCEPTIONS */


@media only screen and (min-width: 375px) {

    main {
        width: 375px;
    }

    .card1 {
        width: 375px;
        height: 842px;
    }

    .img-wrapper {
        width: 375px;        
    }

    #mobile-img {
        width: 375px;
    }

    .card1-content {
        margin: -10px 22px auto 20px;
    }

   input {
        width: 92.5%;
   }

   .card2-content {    
        margin: 175px 20px auto 20px;
   }

   .button2 {
        margin-top: 258px;
        margin-bottom: 25px;
   }


}


/* min-tablet model = Alcatel Pixi/Fire 7 */

@media only screen and (min-width: 540px) {
    
    main {
        width: 528px;
    }

    .card1 {
        width: 528px;
        height: 941px;
        margin-top: 6px;
    }

    .img-wrapper {
        width: 528px;        
    }

    #mobile-img {
        display: none;
    }

    #tablet-img {
        display: inline-flex;
        width: 528px;          
    }
    
    h1 {
        font-size: 3.5rem;
    }

    .bullets {
        vertical-align: 5px;
    }

    button {
        width: 97%;
    }

}

@media only screen and (min-width: 1024px) {

    body {
        background-color: var(--blue-800);
    }

    main {
        width: 750px;
        height: auto;        
        margin: 0 auto;       
    }

    .card1 {
        display: inline-flex;
        flex-direction: row-reverse;
        width: 750px;
        height: 515px;
        background-color: var(--white);
        margin: 35px auto;
        border-radius: 40px;        
    }

    .img-wrapper {
       margin: 25px;
       width: 310px;       
    }

    #mobile-img, #tablet-img {
        display: none;
    }

    #desktop-img {
        display: inline-flex;
        width: 310px;        
        height: 465px;
        object-fit: cover;
        border-radius: 15px;               
    }

    .card1-content {
        margin: 22px 0 5px 50px;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 5px;
    }

    ul {
        margin-top: 15px;
    }

    li {
        margin-bottom: 5px;
    }
    
    .bullets {
        vertical-align: -17px;
    }

    form {
        margin-top: 10px;
    }

    input {
        width: 85%;
        height: 40px;
    }

    button {
        margin-top: 10px;
        width: 91.8%;
        height: 45px;
    }

    footer {
        background-color: var(--blue-800);
    }

    /* UTILITIES */

    .attribution {
        color: var(--white);
    }

    .attribution a {
        color: var(--primary-red);
    }

}

@media only screen and (min-width: 1280px) {

    main {
        width: 1280px;
        height: auto;
        margin: auto 0;
       
    }

    .card1 {
        width: 900px;
        height: 600px;
    }

    .img-wrapper {
        width: 370px;
        height: 550px;       
    }

    #desktop-img {
        width: auto;       
        height: 550px;
        object-fit: cover;
        margin-left: 0;
    }

    .card1-content {
        margin: 40px 25px auto 65px;
    }

    h1 {
        font-size: 3.5em;
    }

    ul {
        margin-top: 20px;
    }

    .bullets {
        vertical-align: 5px;
    }

    
    form {
        margin-top: 25px;
    }

    input {
        width: 90%;
        height: 50px;
    }

    button {
        margin-top: 15px;
        width: 96.3%;
        height: 55px;
    }

}

@media only screen and (min-width: 1440px) {

    main {
        width: 915px;
        height: auto;
        margin: 193px auto; 
    }
   
    .card1 {
        width: 915px;
        height: 625px;
    }

    .card1-content {
        margin: 45px 25px auto 65px;
    }

    .card1-text-content {
        margin-right: 15px;
    }

    .img-wrapper {
        width: 420px;
        height: 575px;       
    }

    #desktop-img {       
        height: 575px;
        object-fit: cover;
        margin-left: 0;
    }

    h1 {
        margin-bottom: 10px;
    }

    ul {
        margin-top: 25px;
    }
  

    input {
        width: 90.8%;
                     
    }

    button {
        width: 97%;
        margin-top: 20px;
    }




}
